[submodule "external/gridfinity_extended_openscad"]
	path = external/gridfinity_extended_openscad
	url = git@github.com:ostat/gridfinity_extended_openscad.git
[submodule "external/round-anything"]
	path = external/round-anything
	url = git@github.com:Irev-Dev/Round-Anything.git
[submodule "external/BOSL2"]
	path = external/BOSL2
	url = git@github.com:BelfrySCAD/BOSL2.git
